<!-- <div class="container-fluid mt-1 bg-img">
    
    <div class="file-upload">
      <label for="fileInput" class="dropdown-item custom-upload-label">Upload Excel</label>
      <input type="file" id="fileInput" (change)="onFileSelected($event)" style="display: none;">
    </div>
  </div> -->


  <div class="file-upload">
    <label for="fileInput" class="dropdown-item custom-upload-label">Upload Excel</label>
    <input type="file" id="fileInput" (change)="onFileSelected($event)" style="display: none;">
  </div>